<h1>Create your pokemon</h1>

<form action="/api/pokemon" method="post">
Name: <input type="text" name="name">
Specie: <input type="text" name="specie">
photo: <input type="text" name="photo">

<input type="submit">
</form>